apiVersion: v1
kind: Service
metadata:
  name: backend-service
  labels:
    app: backend
    release: {{ .Release.Name }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: 8080
      protocol: TCP
      name: http
  selector:
    app: backend
    release: {{ .Release.Name }}
