apiVersion: v1
kind: Service
metadata:
  name: frontend-service
  labels:
    app: frontend
    release: {{ .Release.Name }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: 80
      protocol: TCP
      name: http
  selector:
    app: frontend
    release: {{ .Release.Name }}
